<!--
    This partial is used by both single.html and single.amp.html.
    It reads the scratch output-format variable to determine if it's being called from an AMP page
    if so it renders AMP compatible images
-->

{{ $home := $.Site.BaseURL }}

{{ $orgName := .Site.Params.contact.org_name }}
{{ $streetAddress := .Site.Params.contact.street_address }}
{{ $city := .Site.Params.contact.city }}
{{ $postCode := .Site.Params.contact.post_code }}

{{ $twitter_url := .Site.Params.social.twitter_url }}
{{ $facebook_url := .Site.Params.social.facebook_url }}
{{ $instagram_url := .Site.Params.social.instagram_url }}

<footer class="footer vk-amp-footer">
    <div class="container">
        <div class="columns vk-amp-columns">
            <div class="column vk-amp-column is-5">
                <h2 class="title vk-amp-title is-5"><a href="{{ $home }}">MeatCalc.com</a></h2>
            </div>
            <div class="column vk-amp-column">
                <!--<h3 class="title vk-amp-title is-6">Product</h3>-->
                <ul>
                    {{ range .Site.Menus.product }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="column vk-amp-column">
                <!--<h3 class="title vk-amp-title is-6">About us</h3>-->
                <ul>
                    {{ range .Site.Menus.company }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <hr />
        <div class=container>
            <div class=columns>
                <div class=column>
                    <div class=language-selection>
                        {{ range $.Site.Home.AllTranslations }}
                            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column vk-amp-column has-text-right-tablet">
                <p class="subtitle vk-amp-subtitle is-6">
                {{ replace "Copyright {year}, MeatCalc.com" "{year}" (now.Format "2006") }}
            </div>
        </div>
    </div>
</footer>
