{{ define "main" }}
    {{ $demo := .Site.Params.demo_url }}
    {{ $contact := relref . "contact" }}
    {{ $homeImg := resources.Get "images/home.png" }}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered vk-is-reversed">
                    <div class="column is-6">
                        <h1 class="title">{{ .Site.Params.home.title }}</h1>
                        <p class="mb-5">{{ .Site.Params.home.intro }}</p>
                        <div class="column is-full">
                        <figure class="image is-4by3">
                            <img src="{{ $homeImg.RelPermalink }}" alt="{{ .Site.Title }}">
                        </figure>
                    	</div>
 							<div id="tool-wrapper columns is-centered">
					<!--<div class="topad">
						 This is where your 300x250 top ad code from Adsense goes 
					</div>-->
					<div class="tool">
						{{meat_calculator_metric}}
					</div>
					<!--<div class="bottomad">				
						 This is where your 320x50 bottom ad code from Adsense goes 
					</div>-->
				</div>
            </div>
        </div>
    </section>
{{ end }}
